@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="http://localhost:5000/.well-known/openid-configuration">acceso a la documentacion de server</a>.</p>
</div>
